# Environment Variables
PORT=3000
NODE_ENV=development

JWT_SECRET=replace_me
JWT_EXPIRES_IN=60m

DATABASE_URL=postgresql://postgres:postgres@db:5432/zeeh?schema=public

# Bureau mock config
BUREAU_BASE_URL=http://mock-bureau:4000
BUREAU_API_KEY=replace_me
HTTP_TIMEOUT_MS=3000
